[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    background-color: blue;
    width: 90px;
    height: 35px;
    border-radius: 8px;
}

.title {
    margin-bottom: 15px;
    background-color: #812b2b;
    width: 185px;
    border-radius: 15px;
}

.center {
    text-align: center;
}

p {
    color: white;
}