.loader {
    /*свг и/или анимация*/
    background-image: url("https://st2.depositphotos.com/2749919/6717/i/600/depositphotos_67176669-stock-photo-wheel-loader-excavator.jpg");
    width: 600px;
    height: 400px;
}